@@ -1,23 +0,0 @@
# Bot Token [Required]
BOT_TOKEN=MTExMzY3MzI0ODIyODUxMTc0NQ.GhC0xK.CpFGd_pCVMpLNzC4VMtSY6u-Bm-xJ6U4-5OOmA

# Mongo Database Connection String [Required]
MONGO_CONNECTION=

# Webhooks [Optional]
ERROR_LOGS=
JOIN_LEAVE_LOGS=

# Dashboard [Required for dashboard]
BOT_SECRET=zxPTEmqO5qr6w9hLXarTvmHuFcFATN00
SESSION_PASSWORD=

# Required for Weather Command (https://weatherstack.com)
WEATHERSTACK_KEY=

# Required for image commands (https://strangeapi.fun/docs)
STRANGE_API_KEY=

# SPOTFIY [Required for Spotify Support]
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
